html, body {
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 16px;
  background-color: #000;
}

section {
  position: relative;
  width: 100%;
  height: 100%;
}

#home {
  width: 100%;
  height: 100%;
  background-color: #FFF;
}

.home-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../img/home_bg.png');
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
  z-index: 1;
}

.home-logo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 50vh;
  height: 100%;
  margin: 0 auto;
  background-image: url('../img/home_logo.jpg');
  background-color: #000;
  background-position: center 0;
  background-size: auto 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.home-shadow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 50vh;
  height: 66.7%;
  margin: 0 auto;
  background-image: url('../img/shadow.png');
  background-position: center 0;
  background-size: auto 100%;
  background-repeat: repeat-x;
}

@keyframes fade1 {
  0%, 20%, 100% {
    opacity: 1;
  }
  40%, 60% {
    opacity: 0;
  }
}

@keyframes fade2 {
  0%, 15%, 95%, 100% {
    opacity: 1;
  }
  35%, 55% {
    opacity: 0;
  }
}

.arrow {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 50px;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  pointer-events: none;
  z-index: 1;
}

.arrow::before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../img/arrow.png');
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
  animation: fade1 3s infinite;
}

.arrow::after {
  content: ' ';
  position: absolute;
  top: -13px;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../img/arrow.png');
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
  animation: fade2 3s infinite;
}

#info {
  background-image: url('../img/info_bg.jpg');
  background-color: #000;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.info-logo {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url('../img/info_logo.png');
  background-position: center 0;
  background-size: auto calc(100% - 50px);
  background-repeat: no-repeat;
  background-attachment: fixed;
  pointer-events: none;
}

.info-item {
  display: flex;
  position: relative;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}

.tour-info {
  position: relative;
  width: 30%;
  margin: 0 auto;
}

.songkick-widget {
  width: 100% !important;
  height: 510px !important;
  background-color: rgba(0,0,0,.4);;
}

.info-link {
  position: relative;
  width: 30%;
  margin: 0 auto;
}

.fb-photo {
  width: 100%;
  opacity: 0.88;
}

.tour-title {
  display: block;
  text-align: left;
  font-family: 'Dosis', sans-serif;
  font-weight: 600;
  font-size: 40px;
  font-size: 2.5rem;
  color: #f4fa50;
  text-shadow: 0 0 0 rgba(0,0,0,0.4);
}

.fb-title {
  display: block;
  text-align: right;
  font-family: 'Dosis', sans-serif;
  font-weight: 600;
  font-size: 40px;
  font-size: 2.5rem;
  color: #f4fa50;
  text-shadow: 0 0 0 rgba(0,0,0,0.4);
}

#merch {
  background-color: #000;
}

#merch::after {
  content: ' ';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-image: url('../img/shadow.png');
  background-position: center 0;
  background-size: auto 100%;
  background-repeat: repeat-x;
  transform: scaleY(-1);
  pointer-events: none;
}

.carousel,.carousel-inner,.item  {
  height: 100%;
}

.merch-slide {
  top: 0;
  left: 0;
  background-color: #000;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.merch-slide::after {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../img/overlay.png');
  background-size: 4px;
  background-repeat: repeat;
  pointer-events: none;
}

.merch-bg1 {
  background-image: url('../img/merch_bg1.jpg');
}

.merch-bg2 {
  background-image: url('../img/merch_bg2.jpg');
}

.merch-bg3 {
  background-image: url('../img/merch_bg3.jpg');
}

.merch-title {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  text-align: center;
}

.merch-font1 {
  display: block;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 18px;
  line-height: 1.25rem;
  color: #f4fa50;
  padding: 20px 16px 0px;
  margin: 14px 0;
}

.merch-font2 {
  display: block;
  text-align: center;
  font-family: 'Dosis', sans-serif;
  font-size: 64px;
  font-size: 4rem;
  font-weight: 600;
  line-height: 96px;
  line-height: 6rem;
  color: #f4fa50;
  margin: 0 0 24px 0;
  letter-spacing: 0.25em;
  text-indent: 0.5em;
}

.merch-btn {
  display: inline-block;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 56px;
  color: #f4fa50;
  height: 56px;
  padding: 0 16px;
  margin: 0;
  box-sizing: border-box;
  border: 1px solid #f4fa50;
  border-radius: 0;
  text-decoration: none;
  transition-property: all;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
}

.merch-btn:hover {
  border: 1px solid #f5f5f5;
  background-color: #f5f5f5;
  color: #030303;
  text-decoration: none;
}

.merch-btn:focus {
  color: #f4fa50;
  text-decoration: none;
}

#video {
  height: calc(100% - 50px);
  background-color: #000;
}

.youtube-player {
  width: 100%;
  height: 100%;
  display: block;
  background-color: #000;
  border: none;
}

#music {
  height: calc(100% - 120px);
  background-image: url('../img/music_bg.jpg');
  background-color: #000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#music::before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../img/overlay.png');
  background-size: 4px;
  background-repeat: repeat;
  pointer-events: none;
}

.mobile-item {
  display: none;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.music-item {
  position: relative;
  height: 50%;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.soundcloud-player {
  width: 40%;
  height: 100%;
  background-color: #6b6b6b;
  display: block;
  margin: 0 auto;
  opacity: 0.9;
  overflow: hidden;
  border: none;
}

.more-btn {
  display: inline-block;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 56px;
  color: #FFF;
  height: 56px;
  padding: 0 16px;
  margin: 50px auto;
  box-sizing: border-box;
  border: 1px solid #FFF;
  border-radius: 0;
  text-decoration: none;
  transition-property: all;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
}

.more-btn:hover {
  border: 1px solid #f5f5f5;
  background-color: #f5f5f5;
  color: #030303;
  text-decoration: none;
}

.more-btn:focus {
  color: #FFF;
  text-decoration: none;
}

footer {
  position: relative;
  width: 100%;
  height: 120px;
  background-color: #000;
}

.copyright {
  display: block;
  text-align: center;
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
  font-size: 14px;
  font-size: 0.875rem;
  color: #FFF;
  text-shadow: 0 0 0 rgba(255,255,255,0.1) !important;
}

.icon {
  position: relative;
  margin: 0 auto;
  display: block;
  text-align: center;
}

.fa {
  color: #FFF;
  padding: 10px 4px 10px 4px;
  text-decoration: none;
  font-size: 1.5rem;
}

.fa:hover {
  color: #9d9d9d;
  text-decoration: none;
}

.fa:focus {
  color: #FFF;
  text-decoration: none;
}

.adb-fa-facebook::before {
  content: '\f230';
}

.adb-fa-instagram::before {
  content: '\f16d';
}

.adb-fa-spotify::before {
  content: '\f1bc';
}

.adb-fa-youtube::before {
  content: '\f16a';
}

.adb-fa-soundcloud::before {
  content: '\f1be';
}

.outline-title {
  display: none;
}

.page-shadow {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.page-shadow::before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 66.7%;
  background-image: url('../img/shadow.png');
  background-position: center 0;
  background-size: auto 100%;
  background-repeat: repeat-x;
  pointer-events: none;
}

.page-shadow::after {
  content: ' ';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-image: url('../img/shadow.png');
  background-position: center 0;
  background-size: auto 100%;
  background-repeat: repeat-x;
  transform: scaleY(-1);
}

/* navbar */
.brand-font {
  position: relative;
  font-family: 'Dosis', sans-serif;
  font-weight: 600;
  font-size: 32px;
  font-size: 2rem;
  color: #000;
  text-shadow: 0 0 0 rgba(0,0,0,0.4);
}

.brand-font-extra {
  position: relative;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  font-size: 1rem;
  color: #000;
  text-shadow: 0 0 0 rgba(0,0,0,0.5);
}

.menu-font {
  position: relative;
  font-family: 'Dosis', sans-serif;
  font-weight: 600;
  font-size: 16px;
  font-size: 1rem;
  color: #000 !important;
  text-shadow: 0 0 0 rgba(0,0,0,0.1) !important;
  padding-top: 21px !important;
  padding-bottom: 9px !important;
}

.menu-font:hover {
  color: #d5d105 !important;
}

/* bootstrap default class */
/* navbar */
.navbar-inverse {
  background-image: none;
  background-color: #FFF;
  border-style: none;
  z-index: 2;
}

.navbar-brand {
  position: relative;
  margin-left: 2%;
}

.navbar-collapse {
  margin-right: 2%;
  border: none;
}

.navbar-toggle {
  background-color: #333;
  overflow-x: hidden;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
  background-color: #444;
}

/* for small screen */
@media screen and (max-width: 1280px) {
  .home-bg {
    background-image: url('../img/tablet/home_bg.png');
  }

  #info {
    background-image: url('../img/tablet/info_bg.jpg');
  }

  .merch-bg1 {
    background-image: url('../img/tablet/merch_bg1.jpg');
  }

  .merch-bg2 {
    background-image: url('../img/tablet/merch_bg2.jpg');
  }

  .merch-bg3 {
    background-image: url('../img/tablet/merch_bg3.jpg');
  }

  #music {
    background-image: url('../img/tablet/music_bg.jpg');
  }
}

@media screen and (max-width: 967px) {
  .navbar-nav {
    margin: 0;
  }

  .navbar-toggle {
    margin-right: 10px;
  }

  .navbar-brand {
    padding: 10px 10px 0 10px;
    margin-left: 0;
  }

  .brand-font {
    font-size: 28px;
    font-size: 1.75rem;
  }

  .brand-font-extra {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 28px 31px;
    text-align: center;
    font-size: 12px;
    font-size: 0.75rem;
  }

  .menu-font {
    text-align: center;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }

  .navbar-collapse {
    margin-right: 0;
    padding-left: 0;
  }
}

@media screen and (max-width: 767px) {
  .tour-title {
    font-size: 32px;
    font-size: 2rem;
  }

  .fb-title {
    font-size: 32px;
    font-size: 2rem;
  }

  .merch-font1 {
    font-size: 12px;
    font-size: 0.75rem;
  }

  .merch-font2 {
    font-size: 40px;
    font-size: 2.5rem;
    line-height: 64px;
    line-height: 4rem;
  }

  .merch-btn {
    font-size: 12px;
    font-size: 0.75rem;
    line-height: 46px;
    height: 46px;
  }

  .copyright {
    font-size: 12px;
    font-size: 0.75rem;
  }
}

/* for iphone 4~5 */
@media screen and (max-width: 360px) {
  .merch-font2 {
    line-height: 48px;
    line-height: 3rem;
    font-size: 32px;
    font-size: 2rem;
  }
}

/* for mobile */
@media (max-aspect-ratio: 13/10), screen and (max-width: 767px) {
  .home-bg {
    background-image: url('../img/mobile/home_bg.jpg');
  }

  .home-logo {
    display: none;
    background-image: none;
    background-attachment: scroll;
  }

  .home-shadow {
    display: none;
    background-image: none;
  }

  #info {
    background-image: url('../img/mobile/info_bg.jpg');
  }

  .info-item {
    display: block;
  }

  .info-logo {
    opacity: 0.6;
    background-attachment: scroll;
  }

  .tour-info {
    width: 100%;
  }

  .tour-title {
    margin-left: auto;
    text-align: center;
  }

  .info-link {
    display: none;
  }

  .fb-photo {
    background-image: none;
  }

  .merch-bg1 {
    background-image: url('../img/mobile/merch_bg1.jpg');
  }

  .merch-bg2 {
    background-image: url('../img/mobile/merch_bg2.jpg');
  }

  .merch-bg3 {
    background-image: url('../img/mobile/merch_bg3.jpg');
    background-position: 45%;
  }

  #music {
    height: 100%;
    background-image: url('../img/mobile/music_bg.jpg');
    background-position: 40% !important;
  }

  .mobile-item {
    display: block;
  }

  .music-item {
    height: auto;
  }

  .soundcloud-player {
    display: none;
  }

  .more-btn {
    margin: 25px auto;
  }

  //  youtube player bottom shadow fix
  .page-shadow {
    top: -1px;
    height: calc(100% + 1px);
  }
}

/* songkick item fix */
@media screen and (max-height: 600px) {
  .songkick-widget {
    height: 394px !important;
  }
}

@media screen and (max-height: 484px) {
  .songkick-widget {
    height: 278px !important;
  }
}

@media screen and (max-height: 368px) {
  .songkick-widget {
    height: 162px !important;
  }
}

/* portrait mobile browser address bar hidden fix */
@media (max-device-aspect-ratio: 3/4) {
  body {
    height: calc(100vw * 1.333 * 0.91);
  }
}

@media (max-device-aspect-ratio: 2/3) {
  body {
    height: calc(100vw * 1.5 * 0.91);
  }
}

@media (max-device-aspect-ratio: 10/16) {
  body {
    height: calc(100vw * 1.6 * 0.91);
  }
}

@media (max-device-aspect-ratio: 9/16) {
  body {
    height: calc(100vw * 1.778 * 0.91);
  }
}

/* portrait youtube fix */
@media (max-device-aspect-ratio: 3/4), (max-device-aspect-ratio: 2/3), (max-device-aspect-ratio: 10/16), (max-device-aspect-ratio: 9/16) {
  #video {
    height: 50%;
  }
}
